.icma-logo {
	mix-blend-mode: multiply;
}
@media (max-width: 768px) {
	.icma-logo {
		max-width: 370px;
        margin-bottom: 5%;
	}
}

@media (max-width: 767px) {
  .navbar .container .icma-logo {
    max-width: 90px;
    height: auto;
  }
}

.icma-logo-2 {
    margin-left: 5%;
    max-width: 150px;
    height: auto;
}   

@media (max-width: 768px) {
	.icma-logo-2 {
		    margin-left: 55%;
        max-width: 75px;
        height: auto;
	}
}

@media (max-width: 768px) {
    .Modern-Slider .text-content {
        text-align: left;
        width: 75%;
        position: absolute;
        top: 68%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.navbar-brand {
    background: radial-gradient(circle at center, #ffffff 16%, #00000000 102%);
    padding: 0 3%;
    left: 15px !important;
    top: 20px !important;
}

@media (max-width: 768px) {
  .audi-header-logo {
      width: 160px;
      height: 33px;
  }
}